{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 640vw;
    height: 640vh;
    /* Aligns the children items in a row direction */
    display: flex;
}

.left{
    width: 192px;
    height: 640px;
    background-color: sandybrown;
}

.right{
    width: 640px;
    height: 640px;
}

