{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 512vw;
    height: 512vh;
    /* Aligns the children items in a row direction */
    display: flex;
}

.left{
    width: 256px;
    height: 512px;
    background-color: black;
}

.right{
    width: 512px;
    height: 512px;
}

